.ad-galleries li {
	float:left;
	margin-right:10px	
}	

.ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 520px;
}

.ad-gallery {
  width: 570px;
}

.ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}